*{
    margin: 0;
    padding: 0;
}
/*Parte General*/

body{
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header{
    background-color: rgb(10,10,93);
    height: 15vh;
    font-size: 1.5rem;
    position: fixed;
    width: 100%;
}

nav a{
    color:rgb(255, 242, 59) ;
    text-decoration: none; 
    background-color: rgb(14,14,116);
}

.menu{
    margin-top: 3%;
    background-color: rgb(10,10,93);  
    height: 40px;
    width: 100px;
}

.menu :hover{
    background-color: rgb(14,14,116);
    color: white;    
}

.logo{
    height: 200px;
    position: absolute;
    top: 0;
    left: 2%;
}

.menuFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
main{
    display: flex;
    align-items: center;
    color: white;  
}
main section{
    background-color: rgb(14,14,116);
    width: 100%;
}
/*Footer*/
footer{
    background-color:rgb(255, 242, 59);
    height:250px;
    color:rgb(14, 14, 116);
    margin-top: 10%;
}

footer p{
    text-align: end;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 1rem;
}

footer h3{
    font-size: 1.2rem;
    padding: 1%;
}
.footerFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* justify-content: flex-end;  SI SE LO APLICO NO ME APLICA EL ESPACIO*/
    
}
.index{
    height: 200px;
}
/*Novedades*/
.novedadesFlex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}
.portada{
    background-image: url(../img/collage.jpg);
    text-align:center;
    background-color: rgb(14, 14, 116);
    color: white;
    padding-top: 25%;
    font-size: 1.5rem;
}

h2{
    text-align: center;
    background-color: rgb(14, 14, 116);
    color: white;
    padding-top: 30px;
    font-size: 2rem;
}


/* grilla deportes*/
.grillaDeportes{
    display: grid;
    grid-template-areas:
    "item-d item-d item-d"
    "item-f item-h item-t"
    "item-v item-p item-n" ;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 20% auto auto;
    padding-top: 10%;
}
.item-d{
    grid-area: item-d;
}
.item-f{
    grid-area: item-f;   
}
.item-h{
    grid-area: item-h;
}
.item-t{
    grid-area: item-t;
}
.item-v{
    grid-area: item-v;
}
.item-p{
    grid-area: item-p;
}
.item-n{
    grid-area: item-n;
}

/*Deportes*/
.deporteImg{
    height: 18rem;
    width: 18rem;
}
.info{
    color: white;
}